#chat-messages{
    height: 90%;
    overflow-y: auto;
}

#chat-messages ul{
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.time{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin-right: 10px;
    color: #85d7ab;
    font-size: 14px;
}

#send-menu{
    height: 10%;
    width: 100%;
    background-color: #f3f5f5;
    display: flex;
}
#send-menu textarea{
    height: 90%;
    width: 70%;
}
#send-menu button{
    height: min-content;
    width: auto;
    font-size: medium;
    background-color: #85d7ab;
    border-color: #85d7ab;
    color: white;
}
#chat{
    background-color: #f3f5f5;
    height: 90vh;
    width: 50vw;
    position: relative;
}

.me, .user{
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 9px;
    padding-bottom: 5px;
}

.message-item .me{
    float: right;
    background-color: #e6ecec;
}
.message-item .user{
    float: left;
    background-color: white;
}

.message-item img, video{
    height: 50%;
    width: 50%;
}
.message-item img:active, video:active{
    height: 100%;
    width: 100%;
}

#user-info{
    height: 104%;
    width: 25vw;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#user-info img{
    height: auto;
    width: 13vw;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    margin-bottom: 15px;
}

#user-info #name{
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: auto;
    padding-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#user-info #title{
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: auto;
    padding-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#user-info select{
    margin-top: 45px;
}
#user-info #send{
    width: 100%;
}

#user-info textarea{
    text-align: center;
    font-size: 14px;
    width: 87%;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;
}
#user-info button{
    text-align: center;
    font-size: 15px;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: black;
}
input[type="file"] {
    display: none;
}
#input-file-style{
    margin-left: 9px;
    margin-top: 2px;
    height: 30%;
    padding-left: 25px;
    background: url("http://161.35.141.25:4321/static/images/clip.ico") no-repeat scroll 0 0 transparent;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}