#chat-messages{
    height: 90%;
    overflow-y: auto;
}

#chat-messages ul{
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#send-menu{
    height: 10%;
    width: 100%;
    background-color: #f3f5f5;
    display: flex;
}
#send-menu textarea{
    height: 90%;
    width: 70%;
}
#send-menu button{
    height: min-content;
    width: auto;
    font-size: medium;
    background-color: #85d7ab;
}
#chat{
    background-color: #f3f5f5;
    height: 90vh;
    width: 100%;
    position: relative;
}

.me, .user{
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.message-item .me{
    float: right;
    background-color: #e6ecec;
}
.message-item .user{
    float: left;
    background-color: white;
}

.message-item img, video{
    height: 50%;
    width: 50%;
}

#user-info{
    height: 104%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#user-info img{
    height: auto;
    width: 70%;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
}

#user-info p{
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#user-info h5{
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 10%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


#user-info textarea{
    text-align: center;
    font-size: 14px;
    width: 87%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;
}

a{
    color: black;
}
input[type="file"] {
    display: none;
}
#input-file-style{
    height: 40%;
    padding-left: 30px;
    background: url("http://161.35.141.25:4321/static/images/clip.ico") no-repeat scroll 0 0 transparent;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}